@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.woff2") format("woff2"),
        url("../fonts/Poppins-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
        url("../fonts/Poppins-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"),
        url("../fonts/Poppins-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
        url("../fonts/Poppins-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family: "Poppins", "Arial", sans-serif;
}
.container{
    max-width: 1180px;
    margin: 95px auto;
}
.header{
    background-image:
    url("../img/circles.png"),
     url("../img/bg-img.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center, bottom center;
}
.site__header__nav{
    display: flex;
    align-items: center;
}
.header__nav{
    display: inline-flex;
    width: 390px;
    margin: 0 57px 0 auto;
    justify-content: space-between;
}
.header__nav-link{
    text-decoration: none;
    border-bottom: 1px solid transparent;
    color: #242f51;
}
.header__nav-link:hover{
    border-bottom: 1px solid blue;
    color: blue;
}
 .button{
    padding: 20px 41px;
    border-radius: 28.5px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    background-color: #2500f9;
}
.button:hover{
    background-color: #25009f;
}
.header-main{
    display: flex;
    align-items: center;
    margin-left: 75px;
}
.editor-choise{
    display: flex;
    align-items: center;
    width: 362px;
    height: 35px;
    border-radius: 17.5px;
    color: #242f51;
    background-color: #e2eaed;
}
.editor-choise__img{
    height: 100%;
    margin-right: 9px;
    padding: 8px 10px;
    border-radius: 17.5px;
    background-color: #feaa25;
}
.editor-choise__text{
    font-size: 18px;
 }
.main__heading{
    margin-top: 7.5px;
    margin-bottom: 17.5px;
    line-height: 75px;
    font-weight: 600;
    font-size: 60px;
    color: #242f51;
}
.main__text{
    width: 430px;
    line-height: 28px;
    color: #616368;
}
.main__link-wrapper{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.main__link{
    display: inline-block;
    margin-right: 27px;
}
.main__link2{
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    color: #2500f9;
}
.main__link2:hover{
    border-bottom: 1px solid blue;
}
.header-main__img{
    padding: 30px 0;
}
@media (max-width: 1200px) {
    .container{
        max-width: 90%;
        margin: 60px auto; 
    }
    .header{
        background: none;
        background-image: url(../img/bg-img.png);
        background-position: bottom center;
        background-repeat: no-repeat;
    }
    .header-main{
        margin-left: 0;
    }
}
@media (max-width: 1000px) {
    .main__link-wrapper{
        flex-direction: column;
        align-items: flex-start;
    }
    .main__link{
        margin-bottom: 27px;
    }
    .button{
        padding: 17px 35px;
    }
    .header__nav{
        margin: 0 auto;
    }  
}
@media (max-width: 900px) {
    .header-main{
        margin: 50px auto;
    }
    .header-main__img{
        display: none;
    }
}
@media (max-width: 800px) {
    .site__header__nav{
        flex-direction: column;
    }
    .header__nav{
        margin: 20px auto;
    }   
}
@media (max-width: 750px) {
    .header-main{
        position: relative;
    }
    .main__text{
        width: 430px;
        line-height: 28px;
        color: #616368;
    }
}
@media (max-width: 650px) {
    .header-main__img{
        display: block;
    }
    .header-main{
        flex-direction: column;
        margin: 25px auto;
        text-align: center;
    }
    .editor-choise{
        margin: 0 auto;
    }
    .main__heading{
        font-size: 50px;
    }
    .main__text{
        margin: 0 auto;
        text-shadow: none;  
    }
    .main__link-wrapper{
        align-items: center;
        justify-content: center;
        flex-direction: row;
        text-align: center;
    }
    .header-main__img{
        position: static;
        margin: 0 auto;
        opacity: 0.9;
        z-index: 1;
        padding:  0;
    }
}
@media (max-width: 500px){
    .main__heading{
        font-size: 35px;
    }
}
@media (max-width: 450px) {
    .site__header__nav{
        text-align: center;
    }
    .header__nav{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header__nav-link{
        margin: 7px auto;
    }
    .main__text{
        width: 80%;
    }
    .header-main__img{
        width: 100%;
        height: auto;
        margin: 10px auto;
    }
}
@media (max-width: 400px) {
    .editor-choise{
        width: auto;
    }
    .editor-choise__text{
        font-size: 16px;
    }
    .main__heading{
        font-size: 30px;
    }
    .header-main__img{
        width: 100%;
        height: auto;
    }
    .main__link-wrapper{
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .main__link{
        margin: 10px;
    }
}
.trusted-companies__heading{
    width: 220px;
    margin: 115px auto 0;
    font-size: 16px;
    color: #242f51;
}
.trusted-companies__images{
    display: flex;
    margin: 40px auto;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}
@media (max-width: 900px){
    .trusted-companies__images {
        display: inline-flex;
        flex-wrap: wrap;
    }
    .trusted-companies__images img{
        margin: 20px 120px;
    }
}
@media (max-width: 450px) {
    .trusted-companies__heading{
        font-weight: 600;
    }
    .trusted-companies__images{
        width: 100%;
    }
}
.container--awesome-apps{
    position: relative;
    display: flex;
    align-items: center;
}
.awesome-apps__img{
    position: relative;
    left: -10%;
}
.awesome-apps__header{
    width: 35%;
}
.awesome-apps__heading{
    font-size: 36px;
    font-weight: 600;
    color: #242f51;
}
.awesome-apps__heading-text{
    line-height: 26px;
    color: #616368;
}
.awesome__main-list{
    padding: 0;
    list-style-type: none;
}
.main-list__item{
    display: flex;
    align-items: center;
    margin-bottom: 75px;
}
.item__img-wrapper{
    margin-right: 30px;
    padding: 17px;
    border-radius: 50%;
}
.img-wrapper--red{
    background-color: #ffecef;    
}
.img-wrapper--blue{
    background-color: #f4f4ff;    
}
.img-wrapper--green{
    background-color: #e4ffee;    
}
.item__heading{
    font-weight: 600;
    font-size: 20px;
    margin: 0;
}
.item__heading--red{
    color: #f55767;
}
.item__heading--blue{
    color: #2563ff;
}
.item__heading--green{
    color: #40975f;
}
.item__text{
    line-height: 26px;
}
@media (max-width: 1050px) {
    .awesome-apps__img{
        position: absolute;
    }
    .awesome-apps__header{
        position: relative;
        top: 0;
        right: -60%;
        z-index: 1;
    }
}
@media (max-width: 950px){
    .container--awesome-apps{
        text-align: center;
        flex-direction: column;
    }
    .awesome-apps__img{
        width: 100%;
        height: auto;
        position: static;
        margin: 0 auto;
    }
    .awesome-apps__header{
        position: static;
        width: 100%;
        text-align: center;
        order: -1;
    }
    .awesome__main-list{
        display: flex;
    }
    .main-list__item{
        width: 30%;
        display: inline-block;
        margin: 0 20px;
        flex-grow: 1;
    }
    .item__img-wrapper{
        width: 90px;
        height: 90px;
        margin: 20px auto;
    }
}
@media (max-width: 700px) {
    .awesome__main-list{
        flex-direction: column;
        align-items: center;
    }
    .main-list__item{
        width: 80%;
    }
    .awesome-apps__img{
        position: relative;
    }   
}
@media (max-width: 500px) {
    .awesome-apps__img{
        width: 100%;
        height: auto;
    }
}
.container--smart-jackpots{
    width: 100%;
    display: flex;
    align-items: center;
}
.smart-jackpots__heading{
    margin-right: 78px;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #242f51;
}
.smart-jackpots__text {
    padding: 50px;
    border-left: 1px solid #616368;
    line-height: 26px;
    color: #616368;
}
@media (max-width: 1000px){
    .container--smart-jackpots{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .smart-jackpots__heading{
        margin: 0 auto;
        font-size: 30px;
    }
    .smart-jackpots__text{
        padding: 20px;
        border-left: none;
        border-top: 1px solid #616368;
    }
}
@media (max-width: 450px) {
    .smart-jackpots__heading{
        font-size: 26px;
    }   
}
.opportunities__list{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.opportunities__list-item{
    width: 265px;
    margin-right: 130px;
}
.opportunities__list-item:last-child{
    margin-right: 0;
}
.opportunities__list-item__img-wrapper{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.opportunities__item__img-wrapper--red{
    background-color: #ffecef;
    padding: 18px 11px 12px 19px;
}
.opportunities__item__img-wrapper--blue{
    background-color: #f4f4ff;
    padding: 15px 17px 15px 12px;
}
.opportunities__item__img-wrapper--green{
    background-color: #e4ffee;
    padding: 18px 15px 12px;
}
.opportunities__list-item__img-wrapper img{
    display: block;
    width: 100%;
}
.list-item__heading{
    margin-top: 35px;
    margin-bottom: 0;
}
.list-item__heading--red{
    color: #f55767;
}
.list-item__heading--blue{
    color: #2563ff;
}
.list-item__heading--green{
    color: #40975f;
}
.list-item__text{
    margin-top: 18px;
    line-height: 26px;
    color: #616368;
}
@media (max-width: 1150px ) {
    .opportunities__list{
        text-align: center;
    }
    .opportunities__list-item__img-wrapper{
        margin: 0 auto;
    }
}
@media (max-width: 800px) {
    .opportunities__list{
        flex-direction: column;
        align-items: center;
    }
    .opportunities__list-item{
        margin-right: 0;
    }
}
.container--code__integration{
    display: flex;
    align-items: center;
}
.code-integration__main{
    width: 415px;
    margin-left: 111px;
}
.code-integration__heading{
    margin: 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #242f51;
}
.code-integration__text{
    margin-top: 30px;
    margin-bottom: 42px;
    color: #616368;
    line-height: 26px;
}
@media (max-width: 1120px) {
    .conteiner--code__integration{
        position: relative;
    }
    .code-integration__main{
        position: absolute;
        top: center;
        right: 7%;
    }
    .code-integration__img{
        opacity: 0.5;
    }
}
@media (max-width: 1000px){
    .code-integration__main{
        text-align: center;
        margin: 0 auto; 
    }
    .code-integration__heading{
        width: 80%;
    }
    .code-integration__text{
        width: 80%;
        color: #242f51;
    }
}
@media (max-width: 900px) {
    .container--code__integration{
        position: relative;
        flex-direction: column;
    }
    .code-integration__main{
        position: static;
    }
    .code-integration__heading{
        margin: 0 auto;
    }
    .code-integration__text{
        margin: 30px auto;
    }
    .code-integration__img{
        opacity: 1;
        order: 1;
    }
    .code-integration__link{
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
    }
}
@media (max-width: 650px) {
    .code-integration__heading{
        font-size: 30px;
    }
}
@media (max-width: 500px) {
    .code-integration__img{
        width: 100%;
        height: auto;
    }
}
@media (max-width: 450px) {
    .code-integration__main{
        width: 100%;
    }
}
.our-app__header{
    text-align: center;
}
.our-app__header__heading{
    width: 450px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #242f51;
}
.our-app__header__text{
    width: 650px;
    margin: 40px auto 0;
    line-height: 26px;
    color: #616368;
}
.our-app__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 90px auto 0;
    padding: 0;
    list-style-type: none;
}
.our-app__list-item{
    width: 300px;
    margin-bottom: 70px;
    text-align: center;
}
.our-app__list-item:nth-child(3){
    margin-right: 0;
}
.our-app__img-wrapper{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 50%;
}
.our-app__img-wrapper--pink{
    background-color: #ffecef;
}
.our-app__img-wrapper--skyblue{
    background-color: #eaf9ff;
}
.our-app__img-wrapper--orange{
    background-color: #fff6d3;
}
.our-app__img-wrapper--green{
    background-color: #e4ffee;
}
.our-app__img-wrapper--light-blue{
    background-color: #f4f4ff;
}
.list__item__heading{
    font-size: 20px;
    color: #242f51;
}
.list__item__text{
    color: #616368;
    line-height: 26px;
}
@media (max-width: 1000px) {
    .our-app{
        border-top: 1px solid #616368;
    }
}
@media (max-width: 666px) {
    .our-app__header{
        text-align: center;
    }
    .our-app__header__heading{
        width: 80%;
    }
    .our-app__header__text{
        width: 80%;
        margin: 40px auto;
    }
    .our-app__list-item{
        margin: 0 auto;
    }   
    .our-app__list-item:nth-child(3){
        margin: 10px auto;
    }
}
@media (max-width: 450px) {
    .list__item__heading{
        font-size: 16px;
    }
}